{% extends 'base.html.twig' %}




{% block stylesheet %}


<style>

.footer{
    background-color:beige;
    
}

</style>
{% endblock %} 


{% block body %}



<div class="footer">
    <div class="bloc1">
        <p>Liens rapides </p>
    </div>
</div>

{% endblock body %}